<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Head -->
  <head>
    <title>Home</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta id="i18n_pagename" content="index">
    <!-- Bootstrap Styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"> 
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"> 
    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendors/slick-carousel/slick.css"> 
    <link rel="stylesheet" type="text/css" href="assets/fonts/themify-icons.css">
	<link href="assets/vendors/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/vendors/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="assets/css/hovereffects.css"> 
    <!-- Theme Styles --> 
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  </head>
  <!-- End Head -->

  <body>
    
    <!-- Header -->
    <header>
      <!-- Navbar --> 
	  <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top" id="mainNav">
		<div class="container">
		  <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Gym Plus</a> -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-menu text-primary"></span>
      
		  </button>
      


      <h1><a class="navbar-brand" href="index.html">DEEP TIME LAB</a></h1>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mx-auto">
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger i18n" href="#top" name="home">HOME</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger i18n" href="#about" name="about">ABOUT</a>
			  </li>
			   <li class="nav-item">
				<a class="nav-link js-scroll-trigger i18n" href="#skills" name="publications">PUBLICATIONS</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger i18n" href="#experience" name="experience">EXPERIENCE</a>
			  </li>
			   <li class="nav-item">
				<a class="nav-link js-scroll-trigger i18n" href="#portfolio" name="team">TEAM</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger i18n" href="#contact" name="contact">CONTACT</a>
			  </li>
			</ul>
      <div class="lan">
        <!-- <div class="lan1"><label class="i18n" name="lan"></label></div> -->
        <div class="lan2">
          <!-- <div class="lan1"><label class="i18n" name="lan"></label></div> -->
            <select id="language">
                <option value="zh-CN">中文简体</option>
              
                <option value="en">English</option>
            </select>
        </div>
		  </div>
      
		</div>
    
	  </nav>
      <!-- End Navbar --> 
      <img src="./assets/img/intro/img2.png" class="img-fluid img-home img-index myimg">
      <!-- <div class="slider">
        <div class="callbacks_container">
          <ul class="rslides" id="slider4">
            <li>
              <div class="slider-img wthree-oneimg img-fluid img-responsive img-home img-index">
                <div class="container">
                  <div class="slider-info">
                    <h4>PLANS</h4>
                  </div>
                </div>
              </div>
            </li>
            
          </ul>
        </div> -->
        <div class="clearfix"> </div>
        <!-- This is here just to demonstrate the callbacks -->
        <!-- <ul class="events">
          <li>Example 4 callback events</li>
        </ul>-->
      </div>

    </header>
    <!-- End Header -->

    <main role="main">
	<div class="card bg-primary border-0 rounded-0 p-4 mycard">
    <div class="container">
        <div class="row justify-content-between align-items-center text-center text-md-left">
            
            
        </div>
    </div>
</div>

  <section class="wt-section pb-0" id="about">
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="100">
		  <div class="col-md-5">
                <img src="assets/img/about/1.svg" class="w-75" alt="">
            </div>
            <div class="col-md-7 "> 
                <h2 class="mb-4 i18n" name="about">About</h2>
                <p class="text-muted i18n" name="intro">我们的实验室是由国家高层次海外人才马超教授组建的一支具有地学和信息科学交叉背景的团队，马超教授长期从事地学和计算机科学交叉学科研究。主要研究领域有： 1. 沉积地质学；2. 旋回地层学；3. 古气候学；4. 地质大数据；5. 人工智能和知识图谱。
                  实验室团队的成员分为本科生、硕士生和博士生，他们来自不同的学科背景，涵盖了统计学、计算机、地质学、数学、地理信息系统、大气科学等。团队成员的研究方向有：旋回地层学、知识图谱、图像处理等，目前项目组成员在深度参与“DDE深时数字地球国际大科学计划”项目。
                  </p>
            </div>
          
        </div>
    </div>
</section> 

  <section class="wt-section">
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="100">
            <div class="col-md-7"> 
                <!-- <h2 class="mb-4">Job Summary</h2>
                <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi fugiat!</p> -->
            </div>
          
		  <div class="col-md-5">
                <img src="assets/img/about/2.svg" class="w-75" alt="">
            </div>
        </div>
    </div>
</section> 
	<section class="wt-section bg-light" id="skills">
    <div class="container" >
		  <div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
          <div class="col-md-8 text-center w-md-50 mx-auto mb-0 " >
            <h2 class="mb-md-2 i18n" name="publications">Publications</h2>
            <!-- <p class="lead text-muted">Maxi creative technology company providing key digital services for everyone.</p> -->
          </div>
		  </div>
          <!-- Feature Blocks -->
          
          
          
          
          
          <!-- End Feature Blocks -->  
        </div>
        <!-- <ul class="pagination pages st1" id="div1" >
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
      </ul> -->
      <div class="showpublications">
       
        <div v-for="item in showPage"> 
          <div class="alert alert-success" role="alert"><a :href="item.link" target="_blank">{{item.name}}</a></div>
        </div>
        <div class="mynav">
          <div class="pravPage" @click="prav">上一页</div>
          <div class="pages" v-for="(item,index) in conpages" :key="index" @click="page(item)"
            :class="item==cur?'active':''" >{{item}}</div>
          <div class="nextPage" @click="next">下一页</div>
        </div>
      </div>

      </section>
	  
	    <section class="wt-section" id="experience">
    <div class="container">
	<div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
          <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
            <h2 class="mb-md-2 i18n" name="experience">Experience</h2>
            <!-- <p class="lead text-muted">Maxi creative technology company providing key digital services for everyone.</p> -->
          </div>
		</div>
        <div class="row justify-content-between align-items-center">
		  <div class="col-md-4" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="100">
                <img src="assets/img/about/3.svg" class="w-75" alt="">
            </div>
            <div class="col-md-7">  
			<ul class="timeline" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="100">
				<li>  
					<h5>Web Developer</h5>
					<strong>Google</strong> - <i>21 March, 2014</i> 
					<p class="text-muted d-block mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
					<li>  
					<h5>Web Developer</h5>
					<strong>Google</strong> - <i>21 March, 2014</i> 
					<p class="text-muted d-block mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
					<li>  
					<h5>Web Developer</h5>
					<strong>Google</strong> - <i>21 March, 2014</i> 
					<p class="text-muted d-block mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
			</ul>
            </div>
          
        </div>
    </div>
</section> 

<section class="wt-section bg-light" id="portfolio"> 
 <div class="container">
        <div class="row justify-content-md-center text-center pb-lg-5">
            <div class="col-md-12">
                <h2 class="h1 i18n" name="team">Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
            </div>
        </div>
         <div class="portfolio-menu mt-2 mb-4 pb-3">
            <ul>
               <li class="btn mr-2 active i18n" name="all" data-filter="*">All</li>
               <li class="btn mr-2 i18n" data-filter=".teachers" name="teachers">Teachers</li>
               <li class="btn mr-2 i18n" data-filter=".students" name="students">Students</li>
               
            </ul>
         </div>
         <div class="portfolio-item row" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
            <div class="item teachers col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img1.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img1_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
			    <div class="item students col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img2.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img2_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				    <div class="item students col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img3.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img2_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div>
				    <div class="item students col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img4.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img2_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				    <div class="item students col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img5.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img2_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
              
						</div>
					</div> 
			    
            </div> 
				<div class="item students col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img6.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img2_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div> 
				<div class="item students col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img7.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img2_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
					</div>
				</div> 
			    
            </div> 
				    <div class="item students col-lg-3 col-md-4 col-6 col-sm"> 
				<div class="hovereffect">
					<img class="img-fluid img-responsive" src="assets/img/portfolio/img8.jpg" alt="">
						<div class="overlay"> 
							<p>
								<a href="assets/img/portfolio/img2_a.jpg" class="fancylight popup-btn info" data-fancybox-group="light">My Profile
								<i>project</i></a>
							</p>
						</div>
					</div> 
			    
            </div>   
         </div>
      </div>
</section>	

      <!-- Clients Section -->
      
      <div class="contact" id="contact" >
        <div class="container">
          <h3 class="title clr i18n" name="contact">Contact</h3>
          <div class="agileinfo-contact-two-grids">
    
            <div class="col-md-7 contact-us">
              <form action="#" method="post">
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                  <input type="text" name="Name" placeholder="Name" required="">
                </div>
    
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                  <input type="text" name="Last Name" placeholder="Last Name" required="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                  <input type="email" name="Email" placeholder="Email" required="">
    
                </div>
    
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
    
                  <input type="text" name="phone" placeholder="phone" required="">
                </div>
                <div class="clearfix">
                </div>
                <div class="styled-input">
    
                  <textarea name="Message" placeholder="Message" required=""></textarea>
                </div>
                <div>
                  <div class="contact-buttn">
                    <input type="submit" value="SEND">
                  </div>
                </div>
              </form>
            </div>
            <div class=" col-md-5 col-sm-8 col-xs-7 contact-map">
              <!-- <div class="map-grid">
                <iframe src=""></iframe>
    
              </div> -->
              <div class="contact-icons">
                <div class="footer_grid_left">
                  <h5 class="i18n" name="address">Address</h5>
                  <p>1234k Avenue, 4th block,<br> New York, USA
                  </p>
                </div>
                <div class="footer_grid_left">
                  <h5 class="i18n" name="contactUs"> Contact Us</h5>
                  <p>+(000) 123 4565 32</p>
                </div>
                <div class="footer_grid_left">
                  <h5 class="i18n" name="emailUs">Email Us</h5>
                  <a href="mailto:info@example.com">info@example1.com</a>
    
                </div>
    
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
<!-- <section class="wt-section bg-light" id="contact">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-5 pb-5">
            <div class="col-md-8">
                <h1 class="mb-md-4">Let's Create Something Awesome</h1>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p> 

                <div class="mt-md-5">
                    <a href="mailto:john.k@gmail.com" class="btn btn-primary btn-pill btn-theme">john.k@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>  -->
      <!-- End Clients Section -->
    </main>

    <!-- Footer -->
    <!-- <footer class="bg-primary py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
            <small class="text-white">Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></small>
          </div>

          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Dribbble">
                <a class="text-white" target="_blank" href="#">
                  <i class="fab fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer> -->
    <!-- End Footer -->
  
    <!-- JS Script Files --> 
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="assets/vendors/jquery.migrate.min.js"></script>
    <script src="assets/vendors/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendors/jquery-easing/jquery.easing.min.js"></script>
	<script src="assets/vendors/aos/aos.js"></script>

    <!-- Components Vendor  --> 
    <script src="assets/vendors/slick-carousel/slick.min.js"></script>
	<script src="js/isotope.pkgd.js"></script>
    <script src="assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="assets/js/scrolling-nav.js"></script>
    <!--Plugin Initialize-->
    <script src="assets/js/global.js"></script>

    <!-- Theme Components and Settings --> 
    <script src="assets/vendors/carousel.js"></script>
    <script src="assets/js/jquery.i18n.properties.js"></script>
    <!-- <script src="assets/js/jquery.js"></script> -->
    <script src="./js/language.js"></script>
    <script src="./assets/js/vue.js"></script>
    <script type="text/javascript">
      const vm = new Vue({
        el:'#skills',
        data:{
          publications:[
{name:"[1] Ma, C., Hinnov, L.A., Eldrett, J.S., Meyers, S.R., Bergman, S.C., Minisini, D., Lutz, B., 2021. Centennial to millennial variability of greenhouse climate across the mid-Cenomanian event. ",link:"https://pubs.geoscienceworld.org/gsa/geology/article/doi/10.1130/G48734.1/609544/Centennial-to-millennial-variability-of-greenhouse"}, 
{name:"[2] Ao, H., Rohling, E. J., Zhang, R., Roberts, A. P., Holbourn, A. E., Ladant, J. B., ...Ma, C., ... & An, Z., 2021. Global warming-induced Asian hydrological climate transition across the Miocene–Pliocene boundary. Nature Communications, 12(1), 1-13.",link:""},
{name:"[3] Huang, H., Gao, Y., Ma, C., Niu, L., Dong, T., Tian, X., Cheng, H., Hei, C., Tao, H. and Wang, C., 2021. Astronomical constraints on the development of alkaline lake during the Carboniferous-Permian Period in North Pangea. Global and Planetary Change, p.103681. [3] ",link:""},
{name:"[4] Huang, H., Gao, Y., Ma, C., Jones, M. M., Zeeden, C., Ibarra, D. E., ... & Wang, C., 2021. Organic carbon burial is paced by a~ 173-ka obliquity cycle in the middle to high latitudes. Science Advances, 7(28), eabf9489.[4]",link:""}, 
{name:"[5] Jin, S., Liu, S., Li, Z., Chen, A., Ma C., 2021 Astrochronology of a middle Eocene lacustrine sequence and sedimentary noise modeling of lake-level changes in Dongying Depression, Bohai Bay Basin. Palaeogeography, Palaeoclimatology, Palaeoecology, p.110740. [5] ",link:""},
{name:"[6] Que, X.,Ma, C.*, Ma, X. and Chen, Q., 2021. Parallel computing for Fast Spatiotemporal Weighted Regression.Computers & Geosciences, p.104723. [6] ",link:""},
{name:"[7] Wang, C., Hazen, R.M., Cheng, Q., Stephenson, M.H., Zhou, C., Fox, P., Shen, S.Z., Oberhänsli, R., Hou, Z., Ma, X., Feng, Z., Fan, J.,Ma, C., H, X., Luo, B., Wang, J., 2021. The Deep-time Digital Earth program: data-driven discovery in geosciences.National Science Review. [7]",link:""}, 
{name:"[8] Que, X., Ma, X.,Ma, C.*and Chen, Q.,2020. A spatiotemporal weighted regression model (STWR v1. 0) for analyzing local nonstationarity in space and time.Geoscientific Model Development, 13(12), pp.6149-6164. [8] ",link:""},
{name:"[9] Ma, C., Vander Zanden, H.B., Wunder, M.B. and Bowen, G.J., 2020. assignR: An R package for isotope‐based geographic assignment.Methods in Ecology and Evolution. [9] ",link:""},
{name:"[10] Ma, C., Meyers, S.R., Hinnov, L.A., Eldrett, J.S., Bergman, S.C. and Minisini, D., 2020. A method to decipher the time distribution in astronomically forced sedimentary couplets.Marine and Petroleum Geology, p.104399. [10] ",link:""},
{name:"[11] Ma, C., Li, M., 2020. Astronomical time scale of the Turonian constrained by multiple paleoclimate proxies,Geoscience Frontiers. [11] ",link:""},
{name:"[12] Ma, X.,Ma, C.and Wang, C., 2020. A new structure for representing and tracking version information in a deep time knowledge graph.Computers & Geosciences, p.104620. [12] ",link:""},
{name:"[13] Yang, H., Huang, Y., Ma, C.*, Zhang, Z. and Wang, C., 2020. Recognition of Milankovitch cycles in XRF core-scanning records of the Late Cretaceous Nenjiang Formation from the Songliao Basin (northeastern China) and their paleoclimate implications. Journal of Asian Earth Sciences, 194, p.104183. [13] ",link:""},
{name:"[14] Ma, C,Meyers R.S., Sageman B.B., 2019, Testing Late Cretaceous astronomical solutions in a 15 million year astrochronologic record from North America.Earth Planet. Sci. Lett. 513, 1–11. [14] ",link:""},
{name:"[15] Ma, C,Meyers R.S., Sageman B.B., 2017, Late Cretaceous Secular Resonances and Confirmation of the Chaotic Behavior of the Solar System.",link:""},
{name:"[16] Matthias Sinnesael, David De Vleeschouwer, Christian Zeeden, Sietske J. Batenburg, Da Silva Anne-Christine, Niels J. de Winter, Jaume Dinarès-Turell, Anna Joy Drury, Gabriele Gambacorta, Frits Hilgen, Linda Hinnov, Alexander J.L. Hudson, David B. Kemp, Margriet Lantink, Jiri Laurin, Mingsong Li, Diederik Liebrand,Chao Ma, Stephen Meyers, Johannes Monkenbusch, Sandro Montanari, Theresa Nohl, Heiko Pälike, Damien Pas, Micha Ruhl, Nicolas Thibault, Maximilian Vahlenkamp, Luis Valero, Sébastien Wouters, Huaichun Wu, Philippe Claeys. 2019. The Cyclostratigraphy Intercomparison Project (CIP): consistency, merits and pitfalls.Earth-Science Reviews, p.102965.",link:""},
{name:"[17] Zhang, C., Jiang, S., Liu, D.D., Chakrabarti, R., Zeng, J.H., Santosh, M., Luo, Q., Spencer, C.J.,Ma, C., Liu, L.F. and Kong, X.Y., 2019. A novel model for silicon recycling in the lithosphere: Evidence from the Central Asian Orogenic Belt.Gondwana Research,76, pp.115-122. [15] ",link:""},
{name:"[18] Ma, C, Meyers, R.S., Sageman, B.B., Jicha B., Singer, B., 2014, Testing the Astronomical Time Scale for Oceanic Anoxic Event 2, and its Extension into Cenomanian Strata of the Western Interior Basin.GSA Bulletin. [16] ",link:""},
{name:"[19] Carvajal, C.P., Soreghan, G.S., Isaacson, P.E.,Ma, C., Hamilton, M.A., Hinnov, L.A. and Dulin, S.A., 2018. Atmospheric dust from the Pennsylvanian Copacabana Formation (Bolivia): A high-resolution record of paleoclimate and volcanism from northwestern Gondwana.Gondwana Research. 58, 105-121. [17] ",link:""},
{name:"[20] Ma, P., Wang, C., Meng, J.,Ma, C., Zhao, X., Li, Y. and Wang, M., 2017. Late Oligocene-early Miocene evolution of the Lunpola Basin, central Tibetan Plateau, evidences from successive lacustrine records.Gondwana Research, 48, pp.224-236. [18] ",link:""},
{name:"[21] Eldrett, J.S.,Ma, C., Bergman, S.C., Ozkan, A., Minisini, D., Lutz, B., Jackett, S.J., Macaulay, C., Kelly, A.E., 2015. Origin of limestone–marlstone cycles: astronomic forcing of organic-rich sedimentary rocks from the Cenomanian to early Coniacian of the Cretaceous Western Interior Seaway, USA.Earth Planet. Sci. Lett.423, 98–1 [19]  13.",link:""},
{name:"[22] Eldrett, J.S.,Ma, C., Bergman, S.C., Lutz B., Gregory, J., Dodsworth, P., Phipps M., Hardas P., Minisini, D., Ozkan, A., Ramezani, J., Bowring, S.A., Kamo, S.L., Ferguson, K., Macaulay, C., Kelly, A.E.,2015, An astronomically calibrated stratigraphy of the Cenomanian, Turonian and earliest Coniacian from the Cretaceous Western Interior Seaway, USA: Implications for global chronostratigraphy. Cretaceous Research, v. 56, p.316-344.  ",link:""},
{name:"[23] Chen, X., Wang, C., Wu, H., Kuhnt, W., Jia, J., Holbourn, A., Zhang, L. and Ma, C., 2015. Orbitally forced sea-level changes in the upper Turonian–lower Coniacian of the Tethyan Himalaya, southern Tibet.Cretaceous Research, 56, pp.691-701. [21] ",link:""},
{name:"[24] Chen X., Wang C., Kuhnt W., Holbourn A., Huang Y.,Ma,C., 2011,Lithofacies, microfacies and depositional environments of Upper Cretaceous Oceanic Red Beds (Chuangde Formation) in southern Tibet.Sedimentary Geology, 235(2011) 100-110. [22] ",link:""},
{name:"[25] Li, Y., Wang, C., Zhao, X., Yin, A., and Ma, C., 2012. Cenozoic thrust system, basin evolution, and uplift of the Tanggula Range in the Tuotuohe region, central Tibet.Gondwana Research, 22, pp.482-492. [23] ",link:""},
{name:"[26] Li, Y., Wang, C.,Ma, C., Xu, G. and Zhao, X., 2011, Balanced cross-section and crustal shortening analysis in the Tanggula-Tuotuohe Area, Northern Tibet.Journal of Earth Science, 22(1).",link:""},
{name:"[27] Li, Y., Wang, C., Xu, G., Zhao, X.,Ma, C., 2010, Crustal Shortening in the Tanggula-Tuotuohe Area, Northern Tibet, in Leech, M.L., and others, eds., Proceedings for the 25th Himalaya-Karakoram-Tibet Workshop: U.S. Geological Survey, OpenFile Report 2010-1099, 2 p.",link:""},
{name:"[28] Li Y., Wang C., Li Y.,Ma, C., Wang L., Peng S., 2010, The Cretaceous tectonic event in the Qiangtang Basin and its implications for hydrocarbon accumulation.Petroleum Science, 7: 466-471. [24] ",link:""},
{name:"[29] 李林, 周锡强, 黄永建, 马超, 2009. 色度学方法的深时研究: 以藏南贡扎剖面白垩系赛诺曼/土仑阶为例. 地学前缘, 16(5), 153.",link:""},
{name:"[30] 马超, 王成善, 陈曦, 黄永健, 2009. 藏南晚白垩世旋回地层学研究: 以定日贡扎剖面为例. 地学前缘, 16(5), 134.]",link:""}],
          conpages:'',//总页数
          cur:1, //当前页
          pageSize:6, //每页要展示数据条数
          showPage:[],//每页展示的内容
          },
          created(){
          this.conpages = Math.ceil(this.publications.length/this.pageSize); //求总页数，Math.ceil()方法 可以对数进行上舍入
          this.page(this.cur)
          },
          methods:{
            page(item){
              this.cur=item;  //当前页
              var list = (this.cur-1)*this.pageSize;  //每去一组数据的第一个索引
              this.showPage = this.publications.slice(list,list+this.pageSize); //从总数据中取出每页的数据
            },
            prav(){
              if(this.cur!=1){
                this.cur--
                this.page(this.cur)
              }
            },
            next(){
              if(this.cur<this.conpages){
                this.cur++
                this.page(this.cur)
              }
            }
          }
        },
  
      )
    </script>

    <!-- END JAVASCRIPTS -->
	
  </body>
  <!-- End Body -->
</html>
